body{
    margin: 0;
    background: #f6f6f6;
}

nav, footer{
    background: rgba(0, 128, 0, 0.644);
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a{
    transition: .15s;
    cursor:pointer;
    text-decoration: none;
    color: white;
    padding: 12px 28px;
    display: inline-block;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    color: white;
    padding: 5px 20px;
    font-size: x-large;
}

.left-nav a:link, .left-nav a:visited{
    border-bottom-style: solid;
    border-width: 4px;
    border-color: transparent;
}

.left-nav a:hover,.left-nav a:active{
    border-color: white;
}

.right-nav a:hover, .right-nav a:active{
    background: rgba(0, 128, 0, 0.24);
}

.right-nav a.dropdown-nav{
    border: none;
}

.dropdown-content-nav{
    min-width: 145px;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    text-align: justify;
}

.dropdown-content-nav a{
    transition: .15s;
    color: black;
    padding: 12px 28px;
    display: block;
}

.right-nav:hover .dropdown-content-nav {
    display: block;
}

.shadowed{
    box-shadow:0px 1px 5px #8888885d;
}

.green-thin-border{
    border-radius: 5px;
    border: 1px solid rgba(0, 128, 0, 0.24);
}

.my-row, .my-row-last{
    height: 45px;
    width: 100%;
    line-height: 45px;
}

.my-row{
    border-bottom: 1px solid rgba(0, 128, 0, 0.3);
}

.title-box{
    font-size: larger;
    background: rgba(0, 128, 0, 0.05);
    border-bottom: 2px solid rgba(0, 128, 0, 0.12);
}

.text-intent-default{
    text-indent: 1.5em;
}

.my-footer{
    width: 100%;
    text-align: center;
}

.my-page-number{
    width: 290px;
    margin: 25px auto;
    letter-spacing: 15px;
}

.my-page-number a{
    text-decoration: none;
    color: rgb(0, 128, 0);
}

.my-page-number a:hover, .my-page-number a:active{
    color: black;
}

.my-box{
    margin: 25px 3%;
}

.my-photo-box, .my-photo-box-last{
    padding: 0;
    margin: 0;
    width: 100%;
}

.my-photo-box{
    border-bottom: 1px solid rgba(0, 128, 0, 0.3);
}

.my-img-box{
    width: 20%;
    display: inline-block;
    padding: 3%;
    vertical-align: middle;
}

.my-description-box{
    display: inline-block;
    height: 100%;
    width: 70%;
    padding: 1%;
    vertical-align: middle;
}

.my-btn{
    height: 35px;
    width: 120px;
}

.delete-btn, .modify-btn{
    width: 100px;
    height: 35px;
    text-indent: 12px;
    letter-spacing: 12px;
}

.delete-btn{
    color: #e84118;
}

.modify-btn{
    color: #8c7ae6;
}
